:root {
    --bgColor1: rgb(20, 20, 20);
    --bgColor2: #196;
    --bgColor3: rgb(0, 116, 73);
    --txtColor1: rgb(245, 245, 245);
    --txtColor2: rgba(245, 245, 245, .8);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: var(--bgColor1);
    color: var(--txtColor1);
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 60vh;
    min-width: 30vw;

    background: var(--bgColor2);
    border-radius: 5px;
}

main .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    padding: 1rem;
    position: relative;
}

main .login header {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
}


main .login .field-user,
main .login .field-pass {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

main .login .field-user input,
main .login .field-pass input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
    background: transparent;
    color: var(--bgColor2);
    width: 20rem;
    z-index: 10;
}

main .login .field-user input ~ span,
main .login .field-pass input ~ span {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--txtColor1);
    text-transform: capitalize;
    transition: .2s;
}

main .login .field-user input ~ .field-line,
main .login .field-pass input ~ .field-line {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--txtColor2);
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transition: .2s;
}

main .login .field-pass input ~ .fa-regular,
main .login .field-pass input ~ .fa-eye,
main .login .field-pass input ~ .fa-eye-slash {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--bgColor3);
    z-index: 15;
}

main .login .field-pass input ~ .fa-eye-slash {
    display: none;
}

main .login .field-user input:focus ~ .field-line,
main .login .field-user input:valid ~ .field-line,
main .login .field-pass input:focus ~ .field-line,
main .login .field-pass input:valid ~ .field-line {
    height: 3rem;
}

main .login .field-user input:focus ~ span,
main .login .field-user input:valid ~ span,
main .login .field-pass input:focus ~ span,
main .login .field-pass input:valid ~ span {
    top: -1rem;
    left: 0rem;
    font-size: .8em;
}

main .login form .field-pass-request {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: .8em;
}

main .login form .field-pass-request a {
    color: var(--bgColor3);
    transition: .2s;
}

main .login form .field-pass-request a:hover {
    color: white;
}

main .login form button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    color: var(--bgColor2);
    font-size: 1.3em;
    transition: .2s;
}

main .login form button:hover {
    opacity: .8;
}

main .login form button:active {
    opacity: 1;
}

main .login .register {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -.75rem;
    top: 3rem;   
    width: 1.5rem;
    height: 1.5rem;
    background: red;
    border-radius: 3px;
    transition: .2s;
}

main .login .register span {
    display: none;
}

main .login .register:hover {
    width: 5rem;
}

main .login .register:hover span {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .login .register a {
    color: var(--txtColor1);
}

main .login .register a:active {
    color: var(--txtColor2);
}

main #register {
    display: none;
}